.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  background-color: #1c1c1cd0;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 16px;
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  height: 80px;
  width: 80px;
  border-radius: 8px;
  margin-top: 16px;
}

.project-card h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}